

<table cellspacing="10">

    <tr>
        <td><input type="checkbox" name="A1" value="A1" /></td> 
        <td ><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
    </tr>

    <tr>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
    </tr>

    <tr>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
        <td><input type="checkbox" name="A1" value="A1" /></td>
    </tr>
</table>
