

<div class="modal-body">
    <table class="table-condensed table-dark table-bordered">

        <tr>
            <td><input type="checkbox" name="A1" value="1" />1</td>
            <td><input type="checkbox" name="A1" value="2" />2</td>
            <td style="padding:25px"></td>
            <td><input type="checkbox" name="A1" value="3" />3</td>
            <td><input type="checkbox" name="A1" value="4" />4</td>
        </tr>

        <tr>
            <td><input type="checkbox" name="A1" value="5" />5</td>
            <td><input type="checkbox" name="A1" value="6" />6</td>
            <td></td>
            <td><input type="checkbox" name="A1" value="7" />7</td>
            <td><input type="checkbox" name="A1" value="8" />8</td>
        </tr>

        <tr>
            <td><input type="checkbox" name="A1" value="9" />9</td>
            <td><input type="checkbox" name="A1" value="10" />10</td>
            <td></td>
            <td><input type="checkbox" name="A1" value="11" />11</td>
            <td><input type="checkbox" name="A1" value="12" />12</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="A1" value="13" />13</td>
            <td><input type="checkbox" name="A1" value="14" />14</td>
            <td></td>
            <td><input type="checkbox" name="A1" value="15" />15</td>
            <td><input type="checkbox" name="A1" value="16" />16</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="A1" value="17" />17</td>
            <td><input type="checkbox" name="A1" value="18" />18</td>
            <td></td>
            <td><input type="checkbox" name="A1" value="19" />19</td>
            <td><input type="checkbox" name="A1" value="20" />20</td>
        </tr>
    </table>
</div>