<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to The Gaurdian</h2>
<p style="font-size:x-large; font-style:oblique">
    @Ajax.ActionLink("provider list", "GetProviders", new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "providerlist" })

    @Ajax.ActionLink("Add Provider", "InsertProviderDetail", new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "providerlist" })

    @Ajax.ActionLink("Add Bus", "InsertBusDetail", new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "providerlist" })

    @Ajax.ActionLink("Bus List", "GetBusDetails", new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "providerlist" })

</p>

<div id="providerlist"></div>